branca==0.8.2
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
colorama==0.4.6
dask==2026.8.0
folium==0.20.0
fsspec==2026.7.0
geopandas==1.1.4
h11==0.16.0
idna==3.19
importlib_metadata==9.0.1
jh2==5.0.14
Jinja2==3.1.6
joblib==1.6.0
locket==1.0.0
mapclassify==2.10.0
MarkupSafe==3.0.3
mfusepy==3.1.1
narwhals==2.25.0
networkx==3.6.1
niquests==3.21.1
numpy==2.4.6
packaging==26.3
pandas==3.0.5
partd==1.4.2
polars==1.44.1
polars-runtime-32==1.44.1
pyarrow==25.0.1
pyogrio==0.13.0
pyproj==3.7.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
qh3==2.0.3
redivis==0.20.14
requests==2.34.2
scikit-learn==1.9.0
scipy==1.17.1
shapely==2.1.2
six==1.17.0
threadpoolctl==3.6.0
toolz==1.1.0
tqdm==4.70.0
tzdata==2026.3
urllib3==2.7.0
urllib3-future==2.24.907
wassima==2.1.4
xyzservices==2026.9.1
zipp==4.1.0
